.pie{
    background-color: $color-principal;
    height: 60%;
    width: 100%;
  }

  .ig{
    background-color: $color-principal;
    text-align: center;
    
  }
  
  .linkedin{
    background-color: $color-principal;
    text-align: center;
  
  }
  
  .wpp{
    background-color: $color-principal;
    text-align: center;
    }